*::selection{
    background-color: white;
    color: black;
}

body{
    background-color: black;
    overflow-x: hidden;
    margin: 0px;
}

#x{
    width: 60%;
    float: left;
}

#y{
    width: 40%;
    float: right;
    color: white;
    font-size: 25px;
    padding: 0px;
}

#div1{
    color: white;
    text-align: center;
    font-size: 60px;
    text-shadow: 4px 3px 6px rgb(155, 150, 150);    
}

#quote{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 0px;
    text-shadow: 4px 3px 6px rgb(155, 150, 150);
}

#ron{
    color: white;
    text-align: center;
    text-indent: 55%;
    font-size: 25px;
    padding: 0px;
    text-shadow: 4px 3px 6px rgb(155, 150, 150);
    font-style: italic;
}

#back{
    background-image: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 4px 3px 6px rgb(155, 150, 150);
}

.navigation_bar{
    background-color: rgb(22, 21, 21);
    list-style-type: none;
    overflow: hidden;
    margin: 0%;
    display: flex;
    position: sticky;
    top: 0px;
    align-content: space-around;
    justify-content: space-evenly;
    z-index: 999999;
    flex-wrap: nowrap;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.buttons{
    color: white;
    padding: 10px 30px;
    float: left;
    transition-property: background-color;
    transition-duration: 500ms;
    font-size: 20px;
    margin: 4px 0px;
    border-radius: 3px;
}

.buttons:hover{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .buttons{
        color: white;
        padding: 10px 15px;
        float: left;
        transition-property: background-color;
        transition-duration: 500ms;
        font-size: 25px;
        margin: 3px 0px;
        border-radius: 3px;
    }

    .buttons:hover{
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }
}

a{
    text-decoration: none;
    color: white;
}

.sub_menu{
    display: none;
}

.buttons:hover .sub_menu{
    display: block;
    list-style: none;
    text-align: left;
}

.sub_menu_buttons{
    display: block;
    padding: 10px;
    border-bottom: 1px solid white;
    transition-property: background-color;
    transition-duration: 500ms;
}

.sub_menu_buttons:hover{
    background-color: rgb(22, 21, 21);
}

.sub_menu_buttons:last-child{
    border: none;
}

#logo1{
    float: left;
    padding: 20px;
    width: 10%;
    height: auto;
}

#logo2{
    float: right;
    padding: 20px;
    width: 10%;
    height: auto;
}

#im{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.img23{
    width: 400px;
    height: auto;
    padding: 20px;
    transition-property: transform;
    transition-duration: 100ms;
}

.img23:hover{
    transform: scale(1.09)
}

video{
    width: 400px;
    height: auto;
    padding: 20px;
}

.top{
    text-align: center;
    color: white;
    font-size: 60px;
    padding: 20px 0px 0px 0px;
    margin: 0px;
}

.sub_top{
    font-size: 40px;
    text-align: left;
    color: white;
}
.img_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.father{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.phot{
    width: 300px;
    height: auto;
    padding: 10px;
    transition-property: transform;
    transition-duration: 300ms;
}

.phot:hover{
    transform: scale(1.3);
}

iframe{
    padding: 20px;
}

.div67{
    margin: 0px 20%;
    font-size: initial;
}

.ram{
    display: flex;
    justify-content: center;
}

.aritcle_h{
    font-size: 40px;
    font-weight: 900;
}

.nahi{
    width: 60%;
    height: auto;
}

.image{
    display: flex;
    justify-content: center;
}

.cap{
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.sham{
    padding-top: 50px;
}

input[type=text], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit]{
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #252725;
  }
  
#div{
    width: 70%;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 30%;
    left: 15%;
    box-shadow: 0px 0px 6px 100000px rgba(0, 0, 0, 0.7);
    z-index: 999999999;
}

#cross{
    position: absolute;
    top: 6px;
    right: 10px;
    color: black;
    transition-property: background-color;
    transition-duration: 500ms;
}

.photo2021{
    margin-top: 30px;
    /*width: auto;
    max-width: 100%;*/
}

.name{
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    color: white;
}

.Person{
    padding-left: 10px;
    height: 200px;
    width: auto;
}

.info-T{
    color: white;
    font-size: 25px;
    margin: 0% 10%;
    overflow: auto;
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
}

.Person2{
    padding-right: 10px;
    height: 200px;
    width: auto;
}

#special_nahi{
    margin: 0px 0px 20px 0px;
}

.li{
    font-size: 25px;
    list-style-type: disc;
    padding-top: 10px;
}

#help{
    list-style-type: disc;
}

#bale_bale{
    width: 40%;
    height: auto;
}

#team{
    padding-bottom: 40px;
}

#Vision{
    margin: 10px 20%;
    color: white;
    text-align: center;
    font-size: 25px;
}

.b{
    display: flex;
    justify-content: center;
}

img[alt=Vision]{
    width: 300px;
    height: auto;
    margin-top: 50px;
}

#blah{
    padding-right: 15px;
}

img[alt=misson]{
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}

.pre{
    color: white;
    font-size: 20px;
    white-space: pre;
    margin-top: 50px;
}

.ASCII{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.article_h_sub{
    font-size: 25px;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 10px;
}

.article_h_deep{
    font-size: 25px;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 10px;
}

.planet{
    width: 25%;
    height: auto;
}

.no{
    margin-top: 40px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
}

#yes{
    margin-top: 35px;
    margin-bottom: 35px;
}

.eclipse{
    width: 400px;
    height: auto;
    padding: 30px;
    transition-property: transform;
    transition-duration: 300ms;
}

.eclipse:hover{
    transform: scale(1.5);
}

#Mentor{
    width: 250px;
    height: auto;
}

#mentor1{
    width: 250px;
    height: auto;
    padding-top: 20px;
}

#Mentor_container{
    display: flex;
    justify-content: center;
}

#Mentor_container1{
    display: flex;
    justify-content: center;
}

#a47{
    text-align: center;
    padding: 0px;
    padding-top: 5px;
    margin: 0px;
    font-size: 30px;
    color: white;
}

.info-T-mentor{
    color: white;
    text-align: center;
    margin: 0px 40%;
    margin-top: 10px;
}

#a471{
    text-align: center;
    padding: 0px;
    padding-top: 20px;
    margin: 0px;
    font-size: 30px;
    color: white;
}